<%= form_with model: [user, tweet] do |form| %>
  <%= form.text_area :body, placeholder: 'Which company do you wanna complain about?', class: 'form-textarea bg-transparent block w-full text-gray-200 focus:outline-none' %>
  <div class="flex justify-between">
    <div></div>
    <div></div>
    <%= form.submit "Tweet",  class: 'rounded-lg px-4 bg-blue-400 hover:bg-blue-500' %>
  </div>
<% end %>
