<%= form_with model: [user, tweet] do |form| %>
  <%= form.rich_text_area :body, placeholder: 'Which customer do you want to complain about?' %>
  <div class="flex justify-between">
    <div></div>
    <div></div>
    <%= form.submit "Tweet",  class: 'rounded-lg px-4 bg-blue-400 hover:bg-blue-500' %>
  </div>
<% end %>
