<div>
  <h1 class="font-bold text-5xl">Timeline</h1>

  <div>
    <h2>Add a tweet:</h2>
    <%= render 'tweets/form', user: @user, tweet: @user.tweets.build %>
  </div>

  <div>
    <h2 class="font-bold text-5xl">Tweets</h2>
    <% @all_tweets.each do |tweet| %>
        <%= render tweet %>
    <% end %>
  </div>
</div>
